<div class="field">
  <strong>Title:
  <%= @book.title %></strong>
</div>

<<div class="field">>
  <strong>Body:
  <%= @book.body %></strong>
</div>

<div class="action">
  <%= link_to "edit", edit_book_path %>
  "|"
  <%= link_to "back", books_path %>
</div>
