// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

tr{
  display:table;
}

th{
  text-align: center;
  font-size: 13px;
  padding-bottom: 5px;
  display: table-cell;
  font-weight: bold;
}

td{
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

h2{
  font-size:19.5px;
}

div.field, div.action{
  margin-bottom:10px;
}
